{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                {% if is_add %}
                    <h4 class="card-title">Crear Huerta</h4>
                    <p class="card-category">Crear huerta y sectores</p>
                {% else %}
                    <h4 class="card-title">Editar Huerta</h4>
                    <p class="card-category">Editar huerta y sectores</p>
                {% endif %}
                </div>
                <div class="card-body">
                    <form method="post">{% csrf_token %}
                        {{ form.as_p}}
                        <input type="submit" value="Save" class="btn btn-primary pull-right">
                    </form>
                </div>
              </div>
            </div>
          </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
