{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/css/specific_style.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
<div>
  <table class="table table-fixed-layout border border-success">
    <thead>
      <tr>
        <th scope="col" class="text-center text-break">Fecha\Camas</th>
        {% for cama in campo.sectores.first.camas|times %}
          <th scope="col" class="text-center">
            {{ cama }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th id="months-column" scope="row">
        </th>
        {% for cama in campo.sectores.first.camas|times %}
          <td id="cama-{{ forloop.counter }}" class="align-top">
          </td>
        {% endfor %}
        {% comment %}
        <div class="text-center" style="position:relative">
          <div title=" 18:00 - 19:30" class="bloque rainbow rainbow-12 tipo-Cátedra nuevo curso-668785" style="height:48px">
              <a href="https://www.u-cursos.cl/ingenieria/2022/2/CC6909/6/">Trabajo de Título</a>
              <div class="pill rainbow rainbow-95">Cátedra</div>
          </div>
        </div>
        {% endcomment %}
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  const months = [
    ["SEPT",8],
    ["OCT",9],
    ["NOV",10],
    ["DIC",11],
    ["ENE",0],
    ["FEB",1],
    ["MAR",2],
    ["ABR",3],
    ["MAY",4],
    ["JUN",5],
    ["JUL",6],
    ["AGO",7],
  ];

  const cultivos_dic = {{ cultivos|safe }};
  const total_colors = Object.keys(cultivos_dic).length;
  const base_hue = Math.floor(360/total_colors);

  const month_height = 48;
  const week_height = month_height/4;

  //creating color classes
  var style = document.createElement('style');
  style.type = 'text/css';
  style.innerHTML = '';
  for (let i = 0; i < total_colors; i++) {
    style.innerHTML += `.rainbow.rainbow-${i*base_hue} {` +
        `--rainbow-color: ${i*base_hue};` +
    `}`;
  }
  document.getElementsByTagName('head')[0].appendChild(style);

  //calculates position of the date axis in the table for a block
  function block_date(the_date, start_month=8) {
    var date = new Date(the_date);
    var month = date.getMonth();
    month_offset = month - start_month;
    if (month_offset < 0) {
      month_offset += 12;
    }
    var day = date.getDate();
    var month_quart = Math.floor(day / 7);
    return [month_offset * month_height, month_quart * week_height];
  }

  //calculates end date of a block
  function block_end_date(the_date, growth_time) {
    var date = new Date(the_date);
    date.setDate(date.getDate() + growth_time);
    return date;
  }

  //calculates the height of a block
  function block_height(growth_time) {
    var growth = Math.floor(growth_time/7);
    return growth * week_height;
  }

  function block_color(cultivo) {
    var hue = base_hue * cultivos_dic[cultivo];
    return hue;
  }

  $(document).ready(function() {

    //adds the month rows
    const months_column = $("#months-column");
    for (let i = 0; i < months.length; i++) {
      var month = months[i];
      months_column.append(
        '<div id="month-' + month[1] + '" class="col row-header text-center text-vert-center" style="position:relative">' +
            '<span>' + month[0] + '</span>' +
            '<div class="week week-1 border-bottom border-success"></div>' +
            '<div class="week week-2 border-bottom border-success"></div>' +
            '<div class="week week-3 border-bottom border-success"></div>' +
            '<div class="week week-4 border-bottom border-secondary"></div>' +
          '</div>'
      );
    }

    // adds all blocks of the sector to the table
    {% for bloque in campo.sectores.first.bloques.all %}
      var sector = $("#cama-{{ bloque.cama|add:1 }}");
      var day = '{{ bloque.dia_plantacion|date:"Y/m/d" }}';
      var start_date = block_date(day);
      var height = block_height({{ bloque.tiempo_crecimiento }});
      var width = 100*{{ bloque.camas_requeridas }};
      var color = block_color('{{ bloque.cultivo.cultivo_name }}');
      sector.append(
        '<div class="text-left" style="position:relative">' +
          //bloque border border-5 border-success rainbow rainbow-12 tipo-Cátedra nuevo curso-668785
          `<div class="bloque rainbow rainbow-${color} text-break"` +
                  `style="top:${(start_date[0] + start_date[1])}px;height:${height}px;width:${width}%;">` +
              '<h1>{{ bloque }}</h1>' +
              '<div>{{ bloque.camas_requeridas }} cama(s)</div>' +
              '<h1>{{ bloque.dia_plantacion|date:"d/m/Y" }} - {{ bloque.dia_plantacion|add_days:bloque.tiempo_crecimiento|date:"d/m/Y" }}</h1>' +
          '</div>' +
        '</div>'
      );
    {% endfor %}

    $(".bloque").hover(
      function() {
        $(this).addClass("active");
      },
      function() {
        $(this).removeClass("active");
      }
    );
  });

  var _diff = new Date() - new Date( '2022-11-11 17:21:14' );
  function line() {
    var d = new Date( new Date() - _diff );
    var h = d.getHours();

    var min = $('div.hora:first-child').data( 'h' );
    var max = $('div.hora:last-child').data( 'h' );

    $line = $('#line');
    if( ! d.getDay() || h < min || max < h ) {
      $line.hide();
      return;
    }

    var p = $('.dhorario tbody td:first-child');
    var m = d.getMinutes();
    var t = Math.round( ( ( h - min )*60 + m ) * p.height() / ( (max - min + 1 )*60 ) );

    if( ! $('#line').size() ) {
      var left = Math.round( $('.dhorario tbody td:nth-child('+(d.getDay()+1)+')').offset().left );
      $line = $( '<div id="line" class="reloj"><span></span><div id="circle"></div></div>' );
      p.append( $line );
      $line.find( 'div' ).css( 'left', left - $line.offset().left + 20 );
    }

    $line.find( 'span' ).html( ( h < 10 ? '0' : '' )+h+':'+( m < 10 ? '0' : '' )+m );
    $line.css( 'top', t+'px' ).show();
  }

  $( function() {
    line();
    setInterval( line, 60 * 1000 ); // cada 1 min
  } );

  function updVisibles() {
    $( 'input[data-tipo]' ).each( function() {
      el = $( this );
      if( ! el.is(":checked") ) $( 'div.'+el.data('tipo') ).hide();
    } );
  }
  </script>
{% endblock javascripts %}
