{% extends "layouts/base.html" %}

{% block title %} inicio {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="card">
      <div class="card-header card-header-primary">
        <h2 class="card-title">Crop Rotator</h2>
        <p class="card-category h3">Tutorial</p>
      </div>
      <div class="card-body">
        <p class="p-2 h3">Bienvenido a Crop Rotator, una herramienta para hacer rotaciones de cultivos.</p>
        <ol>
          <li class="h3">Crea tu huerta</li>
          <div>
            <p class="p-2 h4">Para comenzar, debes crear una huerta. Para ello, haz click en el botón "Mi Huerta" que se encuentra en la barra de navegación.</p>
            <p class="p-2 h4">En el formulario de "Mi Huerta" debes ingresar la cantidad de sectores que tiene su huerta y la cantidad de camas por sector</p>
            <p class="p-2 h4">Tambien debes ingresar la cantidad de dias en donde no se pueden plantar cultivos de la misma familia botanica en la misma cama, esto está dado por el campo "Delta"</p>
          </div>
          <li class="h3">Crea tus cultivos</li>
          <div>
            <p class="p-2 h4">Luego, puedes registrar los cultivos que quieres plantar haciendo click en el botón "Mis Cultivos" y luego "Registrar Nuevo Cultivo"</p>
            <p class="p-2 h4">Aqui podras especificar la fecha de plantacion, tiempo de crecimiento y camas requeridas de cada bloque del cultivo</p>
          </div>
          <li class="h3">Crea tu calendario</li>
            <div>
              <p class="p-2 h4">Finalmente, en "Mis Cultivos" puedes hacer click en "Crear Calendario" para hacer una rotacion de cultivos que maximice ganancias</p>
              <p class="p-2 h4">Este calendario lo podras ver haciendo click en "Calendario"</p>
              <p class="p-2 h4">Aqui solo seran considerados los bloques que que tienen fechas de plantacion entre Septiembre {{ filter_year }} y Agosto {{ filter_year|add:1 }}</p>
            </div>
        </ol>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
