{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<a href="{% url 'farm:mis_cultivos_create' %}" class="btn btn-primary btn-round">Registrar nuevo cultivo</a>

<div class="row">
    {% for cultivo in object_list %}
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">yard</i>
                    </div>
                    <h3 class="card-title">{{ cultivo }}</h3>
                    <p class="card-category">{{ cultivo.bloques.count }} bloque(s)</p>
                </div>
                <div class="card-footer justify-content-end">
                    <div class="stats ">
                        <a href="{% url 'farm:mis_cultivos_update' pk=cultivo.id %}" class="btn btn-primary btn-round">update</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}